@media screen and (max-width: 1960px) and (min-width: 400px){
    #map {
        position: flex;
        margin-top: 75px;
        margin-left: 200px;
        position: absolute;
        cursor: crosshair;
        height: 400px;
        width: 65%;
        border: solid 1px gray;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        border-radius: 15px; 
    }
}